@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@keyframes expand {
  0% {
    opacity: 0;
    margin-left: 20%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

body{
  margin: 0;
}
.pcb-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
  font-family: "Montserrat", sans-serif;
  section {
    position: relative;
    width: 100%;
    cursor: default;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);

    header {
      display: flex;
      flex-direction: column;
      align-items: left;
      background-color: rgb(252, 252, 252);
      background-size: 700px;
      // border-top-left-radius: 50px;
      // border-top-right-radius: 50px;
      background-image: url("/images/PCBPost-thumbnail.svg");
      background-size: cover;
      height: 800px;
      .modifier {
        padding-top: 40px;
        padding-left: 40px;
        color: black;
        font-style: italic;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 35px;
      }
    }
    .pcb-cover {
      margin: 0;
      padding: 0;
    }
    &.active {
      animation: expand 1s;
    }
    h1 {
      // padding-top: 40px;
      padding-left: 40px;
      color: black;
      font-size: 3em;
      margin: 0;
    }
    h3 {
      margin: 0px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 40px;
      padding-bottom: 10px;
      font-size: 2em;
      color: black;
    }
    h4 {
      margin: 0px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 40px;
      padding-bottom: 10px;
      font-size: 1.5em;
      color: black;
    }
    h5 {
      color: black;
      font-size: 1em;
      font-weight: normal;
      padding-left: 35px;
      margin-top: 10px;
      position: absolute;
      top: 740px;
    }
    p {
      margin: 0px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 0.6em;
      color: black;
      line-height: 1.5em;
    }
    div {
      display: flex;
      justify-content: center;
    }

    img {
      padding-top: 20px;
      padding-bottom: 20px;
      height: calc(100% - 80px);
      width: calc(100% - 80px);
    }
    footer {
      margin-top: 40px;
      background-color: rgb(199, 199, 199);
      height: 500px;
      background-image: url("/images/PCBPost-thumbnail.svg");
      background-size: cover;
      h4,
      p {
        color: black;
      }
      h4 {
        font-size: 2em;
      }
    }
    .btn {
      position: absolute;
      margin: 40px;
      margin-bottom: 35px;
      bottom: 0;
      left: 0;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 1em;
      font-weight: 200;
      img {
        padding: 20px;
        border-radius: 13px;
        height: 25px;
        width: 25px;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .pcb-post {
    section {
      p {
        font-size: 0.8em;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .pcb-post {
    section {
      width: 700px;
      margin-top: 10%;
      margin-bottom: 10%;
      border-radius: 58px;
      header {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      }
      p {
        font-size: 1em;
      }
      footer {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        .footerPhoto {
          display: inline;
          width: 170px;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 13px;
        }
      }
      .btn {
        img {
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 13px;
        }
      }
    }
  }
}
