@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.in-view {
  -webkit-animation: appear 1s;
          animation: appear 1s;
}

ScrollAnimation {
  color: white;
}

.postContainer {
  background-color: black;
  position: absolute;
  right: 0;
  left: 0;
}

.postContainer .uiPost {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  margin: 40px;
}

.postContainer .uiPost h1 {
  font-size: 3em;
  border-bottom: 1px solid #8f8f8f;
  padding-bottom: 3px;
}

.postContainer .uiPost h2 {
  font-size: 1.5em;
}

.postContainer .uiPost p {
  font-size: 1em;
}

.postContainer .uiPost .part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postContainer .uiPost .part1 div {
  max-width: 1200px;
}

.postContainer .uiPost .part1 div h1 {
  margin-top: 0;
}

.postContainer .uiPost .part1 img {
  height: 750px;
  width: auto;
}

.postContainer .uiPost .part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postContainer .uiPost .part2 div {
  max-width: 1200px;
}

.postContainer .uiPost .part2 span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.postContainer .uiPost .part2 span img {
  height: 700px;
  width: auto;
  margin: 15px;
}

.postContainer .uiPost .part3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postContainer .uiPost .part3 div {
  max-width: 1200px;
}

.postContainer .uiPost .part3 span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.postContainer .uiPost .part3 span img {
  height: 550px;
  width: auto;
  margin: 15px;
}

.postContainer .uiPost .part4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postContainer .uiPost .part4 div {
  max-width: 1200px;
}

.postContainer .uiPost .part4 span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.postContainer .uiPost .part4 span img {
  height: 750px;
  width: auto;
  margin: 15px;
}

.postContainer .uiPost .part5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postContainer .uiPost .part5 div {
  max-width: 1200px;
}

.postContainer .uiPost .part5 span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.postContainer .uiPost .part5 span img {
  height: 550px;
  width: auto;
  margin: 15px;
}
/*# sourceMappingURL=UIPost.css.map */