@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.in-view {
  animation: appear 1s;
}

ScrollAnimation {
  color: white;
}

//! postContainer class needed
//acts as html for UIpost
//if html{} is created, then entire website html is affected.
.postContainer {
  background-color: black;
  position: absolute;
  right: 0;
  left: 0;
  .uiPost {
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    margin: 40px;

    h1 {
      font-size: 3em;
      border-bottom: 1px solid rgb(143, 143, 143);
      padding-bottom: 3px;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
    }
    .part1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        max-width: 1200px;
        h1 {
          margin-top: 0;
        }
      }
      img {
        height: 750px;
        width: auto;
      }
    }
    .part2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        max-width: 1200px;
      }
      span {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1200px;
        img {
          height: 700px;
          width: auto;
          margin: 15px;
        }
      }
    }
    .part3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        max-width: 1200px;
      }
      span {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1200px;
        img {
          height: 550px;
          width: auto;
          margin: 15px;
        }
      }
    }
    .part4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        max-width: 1200px;
      }
      span {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1200px;
        img {
          height: 750px;
          width: auto;
          margin: 15px;
        }
      }
    }

    .part5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        max-width: 1200px;
      }
      span {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1200px;
        img {
          height: 550px;
          width: auto;
          margin: 15px;
        }
      }
    }
  }
}
