@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

.aboutUs, .meetOurPlatform, .ourTeam, .featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.meetOurPlatform {
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0;
}
.ourTeam {
  background-color: white;
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0;
}
.contentBlock, .teamProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20px;
  background-color: white;
  color: black;
}
.appMoc {
  max-width: 600px;
  max-height: 500px;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.codeBlock {
  overflow-y: scroll;
  background-color: #282923;
  border-radius: 10px;
  max-height: 500px;
  padding: 5px;
}
.messageBlock {
  overflow-y: scroll;
  background-color: #EBEBEB;
  border-radius: 10px;
  width: 350px;
  max-height: 500px;
  padding: 5px;
  margin-left: 20px;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5px;
}
.messageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.selfMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
}
.messageMod {
  font-size: x-small;
  font-weight: bold;
  margin-left: 10px;
}
.bubble {
  border-radius: 10px;
  background-color: #58C4FD;
  padding: 15px;
  margin: 5px;
  font-size: smaller;
  color: white;
  max-width: 220px;
}
.selfbubble {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  margin: 5px;
  font-size: smaller;
  color: black;
  max-width: 220px;
}
.contentSubBlock {
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.contentSubBlockLine {
  max-width: 250px;
  text-align: center;
  margin: 15px;
  img {
    border-radius: 100px;
    border: solid #7376FF 5px;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
  }
}
.contentSubBlockLineReceive {
  max-width: 250px;
  text-align: center;
  margin: 15px;
  font-style: italic;
}
.schematicDesc {
  max-width: 250px;
  padding: 12px;
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 15px;
  text-align: center;
}
.arrow {
  opacity: 0;
  padding: 15px;
}
.videoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 700px;
  height: 400px;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;
  iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}
.chatButton {
  text-decoration: none;
  background-color: #ebebeb;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

.iconList {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: smaller;
  margin: 1vw;
  text-align: center;
  .iconPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 75px;
    width: 75px;
    margin-bottom: 15px;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
  }
}
.schematicMobile {
  margin-top: 20px;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}


.teamProfile {
  max-height: 350px;
  max-width: 350px;
  margin-bottom: 20px;
}
.Tilt-inner {
  padding: 5px;
}

.profileDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.socialLinks {
  position: absolute;
  transform: translate(115px, 170px);
}

@keyframes appearIn {
  from {
    opacity: 0;
    transform: translateX(-10px)
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}


html,
body {
  margin: 0;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  .home {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background: -webkit-linear-gradient(bottom left, #66C9FF, #668CFF, #7A66FF, #BF66FF, #FF669B);
    background-position: center;
    background-size: cover;
    .contact {
      display: flex;
      opacity: 0;
      justify-content: flex-end;
      margin: 40px;
      a {
        color: aliceblue;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        margin: 10px;
      }
    }
    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      object {
        width: 90%;
        height: auto;
        max-width: 500px;
        min-width: 200px;
        margin-right: 10px;
      }
      h2 {
        color: aliceblue;
        text-align: center;
        font-size: large;
        font-style: bold;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
      }
    }
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        color: aliceblue;
        text-align: center;
        font-size: medium;
        font-style: bold;
        padding-top: 2px;
        margin-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 0;
      }
      a {
        padding: 30px;
      }
    }
  }
  .content {
    height: auto;
    width: 100vw;
    background-color: #ebebeb;
    color: rgb(71, 71, 71);
    padding-top: 30px;
    h1, .colorTitle {
      font-size: 41px;
      margin: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
    h2 {
      color: #7457FC;
      font-size: 30px;
      margin: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .colorTitle {
      font-size: 60px;
      background: -webkit-linear-gradient(bottom left, #66C9FF, #668CFF, #7A66FF, #BF66FF, #FF669B);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      color: rgb(71, 71, 71);
      font-weight: bold;
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;
      max-width: 700px;
      line-height: 25px;
    }
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 120px;
      width: 100vw;
      background-color: white;
      .letterhead,
      .footer-buttons {
        font-size: smaller;
        color: rgb(168, 168, 168);
        font-weight: bold;
        padding: 10px;
      }
      .footer-buttons {
        a {
          color: blue;
          text-decoration: none;
          margin-right: 5vw;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.top-menu {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  background-color: aliceblue;
  border-radius: 10px;
  margin: 10px;
  padding: 0px;
  z-index: 3;
  ul {
    display: flex;
    padding: 0px;
    margin: 0;
    a {
      color: black;
      text-decoration: none;
      margin-left: 15px;
      padding-top: 15px;
      padding-bottom: 12px;
      &:last-child {
        margin-right: 15px;
      }
    }
  }
}
.is-current {
  border-bottom: 3px solid black;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: 100vh;
}

.desktop {
  display: none;
}
.tablet {
  display: none;
}
.mobile {
  display: flex;
}

@media only screen and (min-width: 650px) {

  .desktop {
    display: none;
  }
  .tablet {
    display: flex;
  }
  .mobile {
    display: none;
  }
  .top-menu {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 40px;
    padding: 0px;
    z-index: 3;
    ul {
      display: flex;
      padding: 0px;
      margin: 0;
      a {
        color: black;
        text-decoration: none;
        margin-left: 25px;
        padding-top: 20px;
        padding-bottom: 16px;
        &:last-child {
          margin-right: 25px;
        }
      }
    }
  }
  html, body {
    .home {
      .contact {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  .tablet {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
  .top-menu {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 40px;
    padding: 0px;
    z-index: 3;
    ul {
      display: flex;
      padding: 0px;
      margin: 0;
      a {
        color: black;
        text-decoration: none;
        margin-left: 25px;
        padding-top: 20px;
        padding-bottom: 16px;
        &:last-child {
          margin-right: 25px;
        }
      }
    }
  }
  html, body {
    .home {
      .contact {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  html, body {
    .home {
      background-attachment: scroll;
      background-position: top;
      -webkit-background-size: auto;
      -moz-background-size: auto;
      background-size: auto;
    }
  }
}

